.footer{
  background: $primary;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 32px;
@include pad{
  padding-top: 56px;
}
@include mobile{
  padding-top: 24px;
}
&-col{
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  @include pad{
    padding-bottom: 32px;
  }
  @include mobile{
    padding-bottom: 24px; 
  }
}
&-list{
  display: flex;
  gap: 48px;
  margin-bottom: 36px;
@include pad{
  margin-bottom: 32px;
}
@include mobile-large{
  display: none;
  margin-bottom: 0px;
}
}
.phone{
  font-size: 36px;
  gap: 20px;
@include mobile-large{
  font-size: 16px;
  gap: 10px;
}
}
.mail{
  font-size: 36px;
  gap: 20px;
@include mobile-large{
  font-size: 16px;
  gap: 10px;
}
}
.social-contact{
  gap: 32px;
  img{
    max-width: 48px;
  }
  @include pad{
    gap: 16px;
    img{
      max-width: 40px;
    }
  }
  @include mobile-large{
    gap: 8px; 
    img{
      max-width: 24px;
    }
  }
}
&-end{
  padding-top: 32px ;
  border-top: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;  
  align-items: center; 
  
@include pad{
  padding-top: 40px 0;
}
@include mobile-large{
  padding-top: 24px 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  p{
    margin-bottom: 8px;
  }
}
}
.policy{
  display: flex;
  gap: 48px;
  font-size: 14px;
  @include mobile-large{
    gap: 8px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    }
  }
}






