.banner{
   background-image: url(../images/home-header.png); 
   background-size: cover;
   height: calc(100vh - 80px);
   color:$secondary;
   @include pad{
       background-image: url(../images/home-header-sm.png); 
       
   }
   &-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
   }
&-title{
    font-size: 64px;
    font-weight: bold;
    @include mobile-large{
        font-size: 24px;
    }
}
&-subtitle{
    font-size: 36px;  
    @include mobile-large{
        font-size: 16px;
    } 
}
&-link{
    padding: 6px 12px;
    background: $primary;
    color: #ffffff;
}





}

.profession{
    background-color: $bg-light;
    &-list{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        .card{
            width: calc(25% - 18px);
             display: flex;
             flex-direction: column;
             align-items: center;
             @include pad{
                width: calc(50% - 12px);
             }
             @include mobile-large{
                width: 100%;
             }
            
            &-img{
                max-width: 100px;
                margin-bottom: 24px;
            }
            &-title{
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 8px;
                color: $secondary;
            }
        }
    }
}
.classic{
    &-list{
        display: flex;
        gap: 24px;
        @include pad{
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
                    }
    }
    .card{
        @include pad{
            max-width: 336px;
        }
    }
    &-cardTitle{
        font-size: 48px;
        font-style: italic;
        font-weight: 900;
        color: $primary;
        text-align: center;
        @include pad{
            max-width: 336px;

        }
    }
}
.design{    
    background-image: url(/assets/images/index-bg.png);
    background-size: cover;
    @include pad{
        background-image: url(/assets/images/index-bg-md.png);
    }
    @include mobile{
        background-image: url(/assets/images/index-bg-sm.png);
    }
        &-title{
        color: #ffffff;
    }
    &-list{
        display: flex; 
        
        @include pad{
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
                    }
    }
    .card{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #ffffff;
        @include pad{
            flex-wrap: wrap;
        }
    }
    &-cardTitle{
        font-size: 48px;
        font-style: italic;
        font-weight: 900;
        color: $primary;
        text-align: center;
        }
    

    &-img{
    height: 240px;
    background-position: center;
}
}
.customer{
    &-list{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        .card{
            border-radius: 4px 4px 0px 0px  ;
            width: calc(25% - 18px);
            box-shadow: 0px 2px 6px #00000029;
            display: flex;
            flex-direction: column;            
            @include pad{
                width: calc(50% - 12px);
            }
            @include mobile{
                width: 100%;
            }
            &-desc{
                padding: 16px;
                display: flex;
                flex-direction: column;
                height: 100%;
            }
              
            &-title{
                font-weight: 500;
            }
            &-date{
                margin-top: auto;
                color: #707070;
                font-size: 14px;
                height: 100%;
            }
        }
    }
}
.contact{
    background-color: $bg-light;
    &-wrap{
    max-width: 636px;
    margin: 0 auto;
    p{
        margin-bottom: 24px;
    }
    }
    &-text{
        font-size: 20px;
        @include pad{
            font-size: 16px;
        }
    }
    &-content{
        max-width: 636px;
    }
    &-input{
        width: 100%;
        padding: 6px 12px;
        margin-bottom: 16px;
        
    }
    &-label{
        margin-bottom: 8px;        
    }
    &-check{
        margin-bottom: 48px;
    }
    &-btn{
        display: flex;
        justify-content: center;
        .link{
            width: 65%;
            background: $primary;
            color: #ffffff;
            border: none;
            cursor: pointer;
            padding: 16px 0;
            &:hover{
                color: $secondary;
            }
        }


    }
}