.banner{
   background-image: url(../assets/images/home-header.png); 
   background-size: cover;
   height: calc(100vh - 80px);
   color:$secondary;
   @include pad{
       background-image: url(../assets/images/home-header-sm.png); 
       
   }
   &-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
   }
&-title{
    font-size: 64px;
    font-weight: bold;
    @include mobile-large{
        font-size: 24px;
    }
}
&-subtitle{
    font-size: 36px;  
    @include mobile-large{
        font-size: 16px;
    } 
}
&-link{
    padding: 6px 12px;
    background: $primary;
    color: #ffffff;
}





}

.profession{
    background-color: $bg-light;
    padding: 80px 0;
    &-title{
        font-size: 48px;
        font-weight: bold;
        color: $secondary;
        text-align: center;
        margin-bottom: 33px;
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        .card{
            width: calc(25% - 18px);
             display: flex;
             flex-direction: column;
             align-items: center;
            
            &-img{
                max-width: 100px;
                margin-bottom: 24px;
            }
            &-title{
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 8px;
                color: $secondary;
            }
        }
    }
}